{% extends 'layout.html' %}
{% block content %}
<div class="loginBox">
    <div class="iconBox">
        <img class="icon" src="img/popcorn_Icon.jpg" height="100px" width="100px">
    </div>
    <div class="title" id="title">POPCORN!</div>
    <form action="" method="post">
        <div class="inputBox">
            <input id="uname" type="text" name="Id" placeholder="Email or Username"> 
            <input id="pass" type="password" name="Password" placeholder="Password"> 
        </div>
        <input type="submit" value="Login">
    </form> 
    <div class="pwBox">
        <span class="pw">Forget Password?</span>
    </div>
    <div class="text-center">
        <span class="tc">Sign Up</span>
    </div>
</div>
<script>
    // 비밀번호 찾기
    const pw = document.querySelector('.pw');
    pw.addEventListener('click', () => {
        alert('서비스 준비중입니다');
    });

    const tc = document.querySelector('.tc');
    tc.addEventListener('click', () => {
        // exports 관련 공부 후 진행
    });
</script>
{% endblock %}