{% extends 'layout.html' %} {% block content %}
<link href="css/list.css" rel="stylesheet" />
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="head">
    <div class="container px-4 px-lg-5">
      <div class="navbar-brand" id="homeBtn">
        <img class="img" src="img/film.png" />
        <span class="txt">POPCORN!</span>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item">
            <a class="nav-link active" id="officeBtn">Box Office</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="searchBtn">Search</a>
          </li>
        </ul>
        <div class="header_btn" id="myPage">
          <img class="img" src="img/mypage_icon.png" />
        </div>
        <div class="header_btn" id="logoutBtn">
          <img class="img" src="img/logout_icon.png" />
        </div>
      </div>
    </div>
  </nav>
  <div class="bg-dark py-5" id="boxHead">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">WEEKLY BOX OFFICE</h1>
      </div>
    </div>
  </div>
  <section id="section">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="colMain">
        </div>
      </div>
    </div>
  </section>
</body>
{% include "footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/event/mouseEvent.js"></script>
<script src="js/api/BoxOffice.js"></script>
<script src="js/list.js"></script>
{% endblock %}
