{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/login.css">
<div class="loginBox">
    <div class="iconBox">
        <img class="icon" src="img/popcorn_Icon.jpg">
    </div>
    <div class="title" id="title">POPCORN!</div>
    <form action="" method="post">
        <div class="inputBox">
            <input id="id" type="text" placeholder="Email or Username"> 
            <input id="password" type="password" placeholder="Password"> 
        </div>
    </form> 
    <button class="loginBtn">Login</button>
    <div class="pwBox">
        <span class="pw">Forget Password?</span>
    </div>
    <div class="signUpDiv">
        <span class="signUpText">Sign Up</span>
    </div>
</div>
<script src="/js/login.js"></script>
{% endblock %}