{% extends 'layout.html' %}
{% block content %}
<div class="signUpBox" id="signUpBox">
    <div class="wrapBox">
        <form action="" method="post">
            <div class="inputBox">
                <div class="label" id="idLabel">Email</div>
                    <input id="email" type="text" placeholder="Email">
                <div class="label" id="emailLabel">Phone</div>
                    <input id="phone" type="text" placeholder="Phone">
                <div class="label" id="emailLabel">Username</div>
                    <input id="username" type="text" placeholder="Username">
            </div>
            <input class="signup_btn" type="submit" value="Sign Up">
            <div class="btnBox">
                <span class="backBtn" id="backBtn"></span>
            </div>
        </form>    
    </div>      
</div>
<script src="/js/register.js"></script>
{% endblock %}