{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/signup.css">
<div class="signUpBox" id="signUpBox">
    <div class="wrapBox">
		<div class="imgBox">
			<img class="icon" id="img" src="img/document_Icon.png">
		</div>
        <form action="" method="post">
            <div class="inputBox">
                <input id="id" type="id" placeholder="Id" maxlength="10">
                <input id="username" type="text" placeholder="Username" maxlength="10">
                <input id="phone" type="tel" placeholder="Phone" maxlength="11">
                <input id="password" type="password" placeholder="Password" maxlength="15">
                <input id="confirm" type="password" placeholder="Confirm Password" maxlength="15">
            </div>
            <p class="signup-btn" id="signUpBtn">Sign Up</p>
            <div class="btnBox">
                <span class="backBtn" id="backBtn">Back</span>
            </div>
        </form>    
    </div>      
</div>
<script src="/js/signup.js"></script>
<script src="/js/commonUtil.js"></script>
{% endblock %}