body {
  margin: 0;
  padding: 0;
  background: #000000;
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
@media screen and (max-width: 600px;) {
  body {
    background-size: cover;
  }
}
.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 200px;
  background: #000000;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}
.loginBox .icon {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 50%;
}
.loginBox .title {
  margin: 0;
  padding: 0 0 40px;
  font-size: 25px;
  color: #dddd2a;
  text-align: center;
}
.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}
.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
  border-bottom: 1px solid #42f3fa;
}
.loginBox form {
  margin: 0;
}
.inputBox {
  padding: 0 0 5px 0;
  position: relative;
}
.inputBox span {
  position: absolute;
  top: 10px;
  color: #262626;
}
.loginBox .loginBtn {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #b45461;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}
.loginBox .loginBtn:hover {
  color:#000000;
}
.loginBox .pwBox {
  color: #c4be8e9d;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}
.loginBox .pw:hover {
  color: #cde2e2de;
  cursor: pointer;
}
.signUpDiv {
  margin: 3px 0 0 0;
  text-align: center;
}
.signUpDiv .signUpText {
  cursor: pointer;
  color: #4dee83;
}
.signUpDiv .signUpText:hover {
  color: rgba(255, 255, 255);
}
/******* SignUp Modal *******/
.signUpBox {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.signUpBox .wrapBox {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 350px;
  background: #f6f8fa;
  border-radius: 6px;
}
.signUpBox .inputBox {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  width: 270px;
}
.signUpBox .label {
  margin: 8px 0 8px 0;
}
.signUpBox .signup_btn {
  margin: 10px 0 0 0;
  width: 100%;
  border-radius: 6px;
  border: 1px solid;
  padding: 5px 16px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(255, 255, 255);
  background: #b45461;
}
.signUpBox .signup_btn:hover {
  opacity: 0.9;
  color:#000000;
}
.btnBox {
  text-align: center;
  margin: 5px 0 0 0;
}
.backBtn {
  color: #2c2c279d;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
}
.backBtn:hover {
  cursor: pointer;
  opacity: 1;
}

.hidden {
  display: none;
}